{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={%static "css/bulma.min.css" %}>
    <link href={%static "css/xlstablefilter.css" %} rel="stylesheet" type="text/css">
    <script src={%static "js/jquery.min.js" %}></script>
    <script src={%static "js/jquery-ui.min.js" %}></script>
    <script type="text/javascript" src={%static "js/jquery.xlstablefilter.js" %}></script>
    <link href={%static "css/jquery-ui.min.css" %} rel="stylesheet" type="text/css">
    <title>借用设备清单</title>
    <script type="text/javascript">


        $(function () {

            $("#orders").xlsTableFilter({

            });

        });

    </script>
</head>

<body>
    <div class="box" style="width:auto;margin: 0 auto; margin-top: 20px">
        <p class="is-size-3" style="text-align: center">北部湾大学全媒体中心借用设备清单名单</p>
        <center>
            <table class="table is-striped" id="orders">
                <thead>
                    <tr>
                        <th style="text-align: center;">申请人</th>
                        <th style="text-align: center;">借用设备</th>
                        <th style="text-align: center;">借用理由</th>
                        <th style="text-align: center;">借用时间</th>
                        <th style="text-align: center;">联系方式</th>
                        <th style="text-align: center;">是否归还</th>
                    </tr>
                </thead>
                {% for i in orders %}
                <tr>
                    <td style="text-align: center;">{{i.name}}</td>
                    <td style="text-align: center;">{{i.tools}}</td>
                    <td style="text-align: center;">{{i.regard}}</td>
                    <td style="text-align: center;">{{i.date}}</td>
                    <td style="text-align: center;">{{i.phone}}</td>
                    <td style="text-align: center;">{{i.is_returned}}</td>
                </tr>

                {% endfor %}

            </table>
        </center>

    </div>


</body>

</html>